/**#content {
  margin-left: auto;
  margin-right: auto;
  width: 650px;
}**/

@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Work+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Work+Sans&display=swap');


#greeting-container {
  margin-top: 20px;
}

#thanks-container{
    font-family: 'Work Sans';
}

#heading{
  position: absolute;
  width: 1198px;
  left: 40px;
  top: 250px;
  font-family: 'Playfair Display', serif;
  font-style: normal;
  font-weight: 700;
  font-size: 48px;
  line-height: 104.9%;
  text-align: center;
  color: #3C3C3C;

}

#subheading{
  position: absolute;
  width: 1015px;
  left: 125px;
  /*top: 500px;*/
  top: 430px;
  font-family: 'Playfair Display', serif;
  font-style: normal;
  font-weight: 400;
  font-size: 35px;
  line-height: 38px;
  text-align: center;
  color: #3C3C3C;
}

#home_profiles{
  display: flex;
  margin-left: 1150px;
  margin-top: 20px;
  gap: 20px;
  width: 30px;
  height: 30px;
}

#linkedIn{
  display: flex;
  margin-left: 1170px;
  order: 1;
  width: 30px;
  height: 30px;
  top: 65px;
}

/*maybe use margin instead*/
#home-button{
  position: absolute;
  width: 122px;
  left: -10px;
  top: -10px;
  font-family: 'Playfair Display',serif;
  font-style: normal;
  font-weight: 700;
  font-size: 25px;
  line-height: 104.9%;
  text-align: center;
  color: #3C3C3C;
 
}

/*.navigation{
  background-color: #F7EEE9;
  overflow: hidden
}
.navigation a{
  display: flex;
  font-family: 'Work Sans';
  color: #161C1C;
  
}*/

.nav-list{
  margin: 0;
  padding-top: 500px;
  padding-bottom: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.nav-item{
  list-style: none;
  margin: 20px;
  font-family: 'Work Sans'
}

.about{
  display: flex;
  justify-content: space-between;
  align-content: center;
}

.about .headshot img{
  display: flex;
  /*justify-content: flex-end;*/
  width: 150px;
  height: 150px;
  padding: 100px;

}

.about .Heading1{
  font-family: 'Playfair Display', serif;
  font-weight:700px;
  font-size: 25px;
  /*padding-top: 100px;*/
  letter-spacing: -1px;
  line-height: 45px;
  color: #3C3C3C;
}

.about .Heading1 p{
  font-family: 'Work Sans';
  font-weight: 400px;
  font-size: 15px;
  color: #696969;
  line-height: 25px;
}

#about_paragraph{
  scroll-behavior: smooth;
}

.Quotes h1{
  font-family: 'Playfair Display', serif;
  font-weight:700px;
  font-size: 45px;
  color: #3C3C3C;
}

#greeting-container{
  font-family: 'Work Sans';
}

#thanksHeading{
  font-family: 'Playfair Display', serif;
  font-weight:700px;
  font-size: 25px;
  color: #3C3C3C;
}

#contactMe h1{
font-family: 'Playfair Display', serif;
  font-weight:700px;
  font-size: 25px;
  color: #3C3C3C;
}