/*#content {
  margin-left: auto;
  margin-right: auto;
  width: 650px;
}*/

#greeting-container {
  margin-top: 20px;
}

#body {
    background-color: #FEFBE9;
}

#menu-button{
    display: flex;
    align-items: flex-start;
    width: 25px;
    height: 25px;
}
